
.main-panel {
    -fx-background-color: white;
    -fx-border-color: #2f2f2f;
}

.background {
    -fx-background-color: #fafafa;
}

.background-radius{
    -fx-background-radius: 10px;
}

.drop-shadow{
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.title {
    -fx-text-fill: #2f2f2f;
    -fx-font-family: Candara;
    -fx-font-Size: 22px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.casual-label {
    -fx-text-fill: #4d4d4d;
}

.module-title {
    -fx-text-fill: #2f2f2f;
    -fx-font-family: Candara;
    -fx-font-Size: 18px;
    -fx-font-weight: normal;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.module-description {
    -fx-text-fill: #2f2f2f;
}

.uploadPhotoBtn{
    -fx-text-fill: black;
    -fx-font-Size: 13px;
    -fx-font-weight: bold;
    -fx-background-color: #B2C0D2;
    -fx-background-radius: 7px;
}

.defaultPhotoBtn{
    -fx-text-fill: #2f2f2f;
    -fx-font-Size: 13px;
    -fx-font-weight: bold;
    -fx-background-radius: 7px;
    -fx-background-color: #ADC3F7;
}

.secondaryButton{
    -fx-text-fill: #2f2f2f;
    -fx-font-Size: 13px;
    -fx-font-weight: bold;
    -fx-border-radius: 7px;
    -fx-border-color: #ADC3F7;
}

.casualPane{
    -fx-background-radius: 10px;
    -fx-background-color: white;
}

.main-button{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-color: #2F4475;
    -fx-text-fill: white;
    -fx-font-Size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.closeButton {
    -fx-text-fill: white;
    -fx-font-family: "sans-serif";
    -fx-font-Size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-background-color: red;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.settings-label{
  -fx-text-fill: #2f2f2f;
  -fx-font-weight: bold;
  -fx-font-Size: 13px;
}

.fields-label{
  -fx-text-fill: #2f2f2f;
  -fx-font-weight: bold;
  -fx-font-Size: 11px;
}

.fields-text{
    -fx-font-Size: 13px;
}

.fields{
    -fx-background-color: #eeeeee;
    -fx-background-radius: 3px;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 3px;
}
.fields:focused{
    -fx-border-color: #bdbdbd;
}